<div id="HomePageBox">
  <div id="NodePresentation" data-ng-if="public.node.presentation">{{public.node.presentation}}</div>

  <div id="WhistleblowerBox" class="d-block mx-auto">
    <div id="WhistleblowerSubmitBoxButtonDisabled" data-ng-show="public.node.disable_submissions || (!public.node.https_whistleblower && !connection.tor)">
      <button class="btn btn-danger disabled">
        <i class="fas fa-ban-circle"></i>
        <span data-translate>Submissions disabled</span>
      </button>
    </div>
    <div data-ng-show="!public.node.https_whistleblower && !connection.tor">
      <p class="text-danger" data-translate>You are connecting to the server without anonymity and this server supports only anonymous submissions</p>
    </div>
    <div data-ng-show="!public.node.disable_submissions && (public.node.https_whistleblower || connection.tor)">
      <div id="WhistleblowerSubmitBox">

        <!--        <div id="WhistleblowingQuestion">{{public.node.whistleblowing_question}}</div> -->
<div id="WhistleblowingQuestion">
<img style="text-align:center;" alt="whistle" data-ng-src="data:image/png;base64,iVBORw0KGg
oAAAANSUhEUgAAAIAAAACACAYAAADDPm
HLAAAC3XpUWHRSYXcgcHJvZmlsZSB0eX
BlIGV4aWYAAHja7ZdRchshDIbfOUWPgC
SExHFYWGZ6gx6/P5iuYyfNTNM+9MHLeJ
eVxS/QJ3ASzh/fR/iGi4rEkNQ8l5wjrl
RS4YqOx9t1e1JM6/7GtN4f7OH6gmESPO
X2ms/tX2HX+wBL23482oO1reNbiC7hdc
mMPPvbz7eQ8M1O+z2UPa6mN8vZH25bdo
s/vydDMrpCTzjwKSQRd59RBDOQIhVPw5
3E4BTF0ddlUaGPcxeu7lPyrt5T7mLddn
lMRYh5O+SnHG076ZNdrjD8MCO6R374wu
QK8S53Y3Qf47ytrqaMTOWwF/VrKasHxw
OplDUsoxk+ir6tVtAcS2wg1kHzQGuBCj
GyPShRp0qDzvVs1DDFxCcj3czcWJbNkf
7CbUFJs9FgA54eQISlgZrAzNdcaMUtK1
4jR+RO8GSCGGHEuxY+Mn6lXUJjzNIlin
7lCvPiWdOYxiQ37/ACEBo7p7ryu1p4Uz
fxDVgBQV1pdiywxuMmcSjda0sWZ4Gfxh
TibWuQ9S2AFCG2YjIkIBAziVKmaMxGhD
w6+FTMnCXxAQKkyp3CABuRDDjOMzbGGC
1fVr6ZcbQAhErGJvG5gQArJUX9WHLUUF
XRFFQ1q6lr0Zolp6w5Z8vzjKomlkwtm5
lbseriydWzm7sXr4WL4AjTkouF4qWUWh
G0QrpidIVHrQcfcqRDj3zY4Uc5akP5tN
S05WbNW2m1c5eO7d9zt9C9l15POlFKZz
r1zKedfpazDtTakJGGjjxs+CijXtQ21U
dq9ETuc2q0qU1iafnZnRrMZr8kaB4nOp
mBGCcCcZsEUNA8mUWnlHiSm8xiYWwKZV
AjnXA6TWIgmE5iHXSxu5P7lFvQ9Efc+H
fkwkT3L8iFiW6Te8/tA2q9rl8UWYDmLp
w5jTJwsMHh9Mpe52/Sl5/hbwVeQi+hl9
BL6CX0EnoJ/T9CA3884F/N8BOeNpE7g7
fw5AAAAAZiS0dEAAAAAAAA+UO7fwAAAA
lwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU
1FB+MHEQY5OVONVmYAAAn7SURBVHja7Z
19kFZVGcB/7y6wfOYCgbC2lhA0qEGGYi
Y1aqmYY2A2gTbkJzZDODlOQzaB4IQ2am
PZKPmZEsmoTUGhOWNgpUCoraIiJR9tSP
EltHwtCspuf5zz4rp7z3nv9z33vs9v5v
lD2ffec+5z7rnPec7zPAcEQRAEQRAEQR
AEQRAEQRAEQRCEwlIqWF/6A0OBgUA/oJ
f+/+3Au8ABYBewA3hb1J/fAXA8cBowBh
gNjAA+DvQJcI1WYCPwBtAErAZeAt6TYe
EexwHXAIuArfqNTkL2AUuAK4AB8tizZQ
xwM/Baggq3yWHgd8B5BftUOs0g4HsZKt
0ka4Cvy0BIjtOBR4FDjim+szQBZ4oRGN
+9L9Jv/BciXmuzNubeBDYB/wF2Ai3a2D
uk79cHqAcGa7tipDYix+rZxw9twH3ATL
2qEEIo/hI9rYb9Nj8P/Ai4APhoTG06Cb
hBX7vNRzvWA58VdQbjHODvIZT+P+BXeu
B8JIV2fhK4HdhToV0HgSmi1sqMBJYGVP
oBbRdcCPTIqN31wDz9GTG1sw2YLQaiN7
2AW1BeOL+KfwOYoR++KwwDllVo94NAN1
H5B5yrPW1+lN4GPKV/4+qbVNI2wmFLP5
YCvatd8f302+DHkHpfT/Ojc9S/s1H7Ca
Y+/S0mwzSXnKmXYX7e+mdzbEWP0EtOU9
/WAQ3VpPgaYBZqIyWohf8O0AwsB+4Grt
UzgutG1QBghaVfm4Dh1aD8QVp5cXvddg
G/BiYTbJcvTXoCiy19+C9wYpGVfyqwhe
RdsAeABSiPnWvUojyDtoFcSIfR1Xr6Tt
sf/1eUB9C1FcKPLW3ejYpfKAQ9gHvJfm
NmBfD5DPp/FnCl4d9utLS3Bfhc3pXfAK
zEnd25NuARVAhY0hwLLOywvP2B4e9mWJ
bAezMatLGN/J24uU27A7g4wW/8dP0Gd7
7vrZbP4xHMUUfj86b8ybi/V98O/EJb5n
FxGvBihXv+3LBkvVw7unI/E0y1dMRFeQ
G11x+FeuCeAP3+pZ4pOnOZxTeyNw82wa
SQzp2s5S3CuZdLesBvD3HPx4HuhtnT9A
z3AONcVf5Y7NugrksLcEaA/o7S7uko97
zecO0plkHQ4qJ/o792z7bnXPb7+Nb20W
v4KDbOBh++iSmWT8puHNsQW1QA5XecZk
8x9LMf/resvaQVuAmo8/lcL7MMgp16Fs
qciwqk/LJsBxoN/Z0Z8ppLgE+EeL7fsi
wRt6J2GjOjDv/buXmTV/GOJyxpA87vdT
bplyQK0yzOos2oNLdM+G5BlV+W3xrW7H
2B16m8bT0XFeYWB9Mtg2ADGcQT9AS2FX
wAtANzDP0fYfD2lUO9hiXwzG+wtHMt/n
MVYuGaKlB+ef/gEsMz+Eqn73Mc030lfm
hp68ukGBz7UpUMgHJ8wRjDc5idwHRfiV
stbV2lP1GJcmIVKb8szagUMS+j8PgM7K
+fWtr6TIClZijmVOEAKAeXZJV04jXwHq
hgwCaWd/BClQ6AduB+hxxwNRWccAv038
TKMTnb7UtCvuPQIOgO/MHS1rvivuH5Va
78dr1Rc7ZDg6An9kjr2XHe7PsyAI5G77
oUx98XVbgq8VlrgSj/qLyuN4hcYaB2CH
m19QhwaRw3eU4U/yH5fRKGVgQagH9hLp
YxIeoNNorSfQd7ZsVwi5u+lYh1i1pE4Z
7uYtcqf4xGVUoxVVD5dNgLHxKFG98s10
K1ztBubFMsQagNqzZRtjW4dIhjg2CC5a
XdEKa9h0XRVlmVtB8+BJMxRxU1BV3JiA
1QWR7GPaZb2rs8yKBtFgVHCvnOkpst7X
0C72SVLqwU5fqS97Xb3DXmW9o8388FFo
lyAxWsHOnYAKgFfkPwELijzBHFBpJ/kE
610iDUYc9qutb244tFqYHlj465i9GDss
ny+Zpk+mGjKDSU3OGgPTDY4to/iCVNTl
YC4WSqg4NgOObs5t0Y0s8eEmWGkndwM7
17LKoSiSkYtkHsgPhkK25WBT3X4uVd09
mQ7Y1KpRaFhpMXibc0TVxcatnrWQbUlT
1F7wEnR9lSrHKOQ2UKL3asXWv1ruZ5Hv
82DDihttOewOWiy9CM1jbBSsfatQqVXu
ZVj+hjHf+jpJ0cMqWHlyOoE05cowbvFP
htnf/w26LEWCqSjHJwEJxM19K+m71cim
+JEiPLetw5erY/Ku/Qa0WwwesHMgvEI8
+Q7RlC3VG5A7bTTdZ6/bAb5lh0kWDys4
yUf6FPe+5l0wW+JMqLTa5K+Tv/dIC2rb
ZdbKEoLxZ5l+TrAg9CBX8ETfJ9znbRAa
gzeEWJyZapi0Id6uzlPSHbtazSDb6MOf
q0CLIalQqW1snjcZ4p+DW92ojSpqf83G
hugZ02p6KycNekdM/HiH4a2meAv8TUHl
+u6xrsJ2PlVe7t0MdG0iuRNyuk4oeitu
3jnJEf93vzvhSritgO7SDpyDhU1EwaM8
/EAIrvqQfNvpD3s6X+LQwyAgcD/yzIAD
Alfn6DdFLl9uklm42SbmfYaK1yIevrLH
/zUJhpaH3Olb+kQh9np9SOTZgPuxqHOo
M47LWf5oNE0WnYj9gJzGDtQcqj8rdR+W
DnEurE0jTa82wnd3EjKk8j7Cy0ha6HZ0
1LwlN5DCo0Om+FoM4K8N1dkVK77kElc8
4j/Akth4Hb8E4KtQ2A26MsR7oBPyE/6e
UzAvbvWNKLlt4V4bfPYz9tZJ7lt/PicE
hMjNiBNOSmCL71vY726W3gCotf4QTgyY
SeSxcaHPUVHIxhM2YCbp2cdkT7MAZY3M
Oz8Heu841x+6Yn6SADFx7UK8R3ENN1jv
SpCTi9guve71K9lRgqjJkMqOu1syWLh7
Rfj+y4i0DPz1Dxe1GnuZgCTIbolUtbAL
sh8Szn3joiJS2/QStwp/ZVJEE3HeWTtv
Ifw5x4UquNW79VXg7o2SzVxNYSKkvlkQ
juTJu8iTr5K40TxOuBdSkqf5WlLeMCuu
eX40Ap3DpUksIduvFhStQd0lPYXFQOXC
nlPgzXFngaA2CFYRDeHSD4Yz+qnlDJ9H
ZmPSBGaWnU37J6bUeUo2n2oQ5VbNYGzj
rt+MiSL5LCKR6oJJPxHXT1Tf3y+C0F9y
dUcYh/I8TO1BRngJNQp5sEyU24yoEXvP
DcksKy7zaC1XJ8EjezlQtJDfYCTWnKbt
wsWFF4epN9sMxi3CtpW1UMRW3Fpq34na
iysYIDnIK5kncS8gTe5x4KGTKR5MPot6
NCwgVHmZmg8h+lckST4ABxV13bCnxVHm
t+6AH8OSblP0zXEHYhBwwk2k7oFuACeY
z55lOYD3qyHVh1P+4VpBZCcg7+XbnNqK
1zoWBM8/HWl8PDhYJyp0H5G/GfryDkmF
pgKR+O7r0L6COPpnroB7yKCmMbL4+jOh
kC9JLHIAiCIAiCIAiCIAiCIAiCIAiCIC
TO/wGd1rLmDCs7igAAAABJRU5ErkJggg
=="></div>

  <div id="disclaimer_home" style="text-align: left">
<!--      <span style="color:#1E3D51" data_translate>DISCLAIMER1</span><a href="https://bit.ly/2JmBMOw"> (https://bit.ly/2JmBMOw)</a><span style="text-align: left; color:#1E3D51" data_translate>DISCLAIMER2</span> -->
      <span style="color:#1E3D51" data_translate>DISCLAIMER1</span><span style="color:#1E3D51" data_translate>DISCLAIMER2</span>
    </div>

        <div id="WhistleblowingButton">
          <button data-ng-click="evaluateDisclaimerModalOpening() || setPage('submissionpage')" class="btn btn-primary">{{public.node.whistleblowing_button}}</button>
        </div>
      </div>
      <div id="WhistleblowerReceiptBox" data-ng-include="'views/partials/wb_login_box.html'"></div>
    </div>
  </div>
</div>
